Chrono Compiler.json
{
  "name": "Chrono Compiler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "a3bd281e-897c-4fe5-9187-457039b86801",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "cityName": "Kolkata"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "856f5e0c-d17f-4d1e-a387-8608eb0d62b7",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "vSNoNcZ0JijAX9ir",
          "name": "Chrono Compiler"
        }
      }
    },
    {
      "parameters": {
        "url": "https://icanhazdadjoke.com/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ],
      "id": "e51ecc75-a5ea-4069-9b49-b665bf1e3434",
      "name": "Get Joke"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=technology&hl=en-IN&gl=IN&ceid=IN:en",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        608,
        0
      ],
      "id": "685134dd-db92-41d0-afee-42b0fb006766",
      "name": "Get Google News"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85836ed9-6a2a-4f84-90ab-a63d4f869b3d",
              "name": "emailSubject",
              "value": "Your Hourly Digest 📜",
              "type": "string"
            },
            {
              "id": "495c5408-19e1-4cba-8c72-3a98b43d8b6b",
              "name": "emailBody",
              "value": "=<style>\n  @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');\n\n  .container {\n    font-family: 'Lexend', sans-serif;\n    color: #333;\n    border: 1px solid #e0e0e0;\n    border-radius: 8px;\n    padding: 20px;\n    max-width: 600px;\n    margin: auto;\n  }\n\n  .section {\n    border-top: 1px solid #eee;\n    padding-top: 15px;\n    margin-top: 15px;\n  }\n\n  h3 {\n    color: #1a73e8;\n  }\n\n  .weather-list {\n    list-style-type: none;\n    padding-left: 0;\n  }\n\n  .weather-list li {\n    margin-bottom: 8px;\n  }\n</style>\n\n<div class=\"container\">\n  <h2>Your Hourly Digest 📜</h2>\n  <p>Here is your personalized briefing for the hour.</p>\n\n  <!-- Weather Section -->\n  <div class=\"section\">\n    <h3>🌦️ Weather in <b>{{ $node[\"OpenWeatherMap\"].json.name }}</b></h3>\n    <ul class=\"weather-list\">\n      <li><b>Summary:</b> {{ $node[\"OpenWeatherMap\"].json.weather[0].main }} ({{\n        $node[\"OpenWeatherMap\"].json.weather[0].description }})</li>\n      <li>🌡️ <b>Temperature:</b> {{ $node[\"OpenWeatherMap\"].json.main.temp }}°C</li>\n      <li>😊 <b>Feels Like:</b> {{ $node[\"OpenWeatherMap\"].json.main.feels_like }}°C</li>\n      <li>📉 <b>Min Temp Today:</b> {{ $node[\"OpenWeatherMap\"].json.main.temp_min }}°C</li>\n      <li>📈 <b>Max Temp Today:</b> {{ $node[\"OpenWeatherMap\"].json.main.temp_max }}°C</li>\n      <li>💧 <b>Humidity:</b> {{ $node[\"OpenWeatherMap\"].json.main.humidity }}%</li>\n      <li>💨 <b>Pressure:</b> {{ $node[\"OpenWeatherMap\"].json.main.pressure }} hPa</li>\n      <li>👁️ <b>Visibility:</b> {{ $node[\"OpenWeatherMap\"].json.visibility / 1000 }} km</li>\n      <li>🌬️ <b>Wind Speed:</b> {{ $node[\"OpenWeatherMap\"].json.wind.speed }} m/s</li>\n      <li>🌅 <b>Sunrise (IST):</b> {{ new Date($node[\"OpenWeatherMap\"].json.sys.sunrise *\n        1000).toLocaleTimeString('en-IN', { hour: '2-digit', minute: '2-digit', timeZone: 'Asia/Kolkata', hour12: true\n        }).toLowerCase() }}</li>\n      <li>🌇 <b>Sunset (IST):</b> {{ new Date($node[\"OpenWeatherMap\"].json.sys.sunset *\n        1000).toLocaleTimeString('en-IN', { hour: '2-digit', minute: '2-digit', timeZone: 'Asia/Kolkata', hour12: true\n        }).toLowerCase() }}</li>\n    </ul>\n  </div>\n\n  <!-- Joke Section -->\n  <div class=\"section\">\n    <h3>😂 Joke of the Hour</h3>\n    <p>{{ $node[\"Get Joke\"].json.joke }}</p>\n  </div>\n\n  <!-- AI News Summary Section -->\n  <div class=\"section\">\n    <h3>📰 AI-Powered News Summary</h3>\n    {{ $node[\"Summarize News\"].json.text }}\n  </div>\n\n</div>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        0
      ],
      "id": "2453ba64-9a7e-4af5-bf27-04fcb3e2a7e1",
      "name": "Compose Email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50d06f9a-3c60-4361-bdeb-7f80e8ff2ee2",
              "name": "Timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "2dbcb3e0-f7c8-47c1-90ab-09ce195be238",
              "name": "ActivityType",
              "value": "Hourly Digest",
              "type": "string"
            },
            {
              "id": "a965621e-af23-4874-bf23-5669d48d5f25",
              "name": "ContentSent",
              "value": "Weather, Joke, and AI News Summary",
              "type": "string"
            },
            {
              "id": "e3bade23-adef-4372-b2fe-685477826231",
              "name": "Status",
              "value": "Success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        0
      ],
      "id": "391c13fb-db66-429f-a624-cae37457bc13",
      "name": "Prepare Log Data"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jyU5-IP8cOx0174zPt3synlhj2Mv8PXLmDhEahqQZ9U",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ActivityType",
              "displayName": "ActivityType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ContentSent",
              "displayName": "ContentSent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1920,
        0
      ],
      "id": "32afedbb-c665-4cfd-b362-d6db59cff3cd",
      "name": "Add Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AugjNKWwzblP2EAh",
          "name": "Chrono Compiler"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().slice(0, 10);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "1088b5f6-ffd4-407b-a410-15f78f074f3b",
      "name": "Limit News Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert news editor. Summarize the key points from the following news headlines into a precise, HTML unordered list (<ul>).\n\n- Each list item (<li>) should be a short, easy-to-read sentence.\n- Do not write an introductory or concluding sentence.\n- Only provide the <ul> element and its contents.\n\nHere are the headlines:\n{{ $items(\"Limit News Items\").map(item => item.json.title).join('\\n') }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1008,
        0
      ],
      "id": "ae754809-e9a5-43cf-8b35-a8066b7291f4",
      "name": "Summarize News",
      "executeOnce": true
    },
    {
      "parameters": {
        "fromEmail": "n8n",
        "toEmail": "saptarshiroy404@gmail.com",
        "subject": "={{ $json.emailSubject }}",
        "html": "={{ $json.emailBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1520,
        0
      ],
      "id": "23ca3703-2265-4af7-9666-a51490e2bc18",
      "name": "Send Email",
      "webhookId": "8aef4a3b-e3cc-47b0-a7ff-9e033ad8dc55",
      "credentials": {
        "smtp": {
          "id": "DEWJGfjdwGa1Hrm6",
          "name": "Chrono Compiler"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1008,
        208
      ],
      "id": "0e7650bb-df97-42b4-980d-94b6c404579a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QPxDfLKDR3qkB1ws",
          "name": "Chrono Compiler"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Get Joke",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Joke": {
      "main": [
        [
          {
            "node": "Get Google News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Google News": {
      "main": [
        [
          {
            "node": "Limit News Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Log Data": {
      "main": [
        [
          {
            "node": "Add Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit News Items": {
      "main": [
        [
          {
            "node": "Summarize News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize News": {
      "main": [
        [
          {
            "node": "Compose Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize News",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f586ba4d-29b6-435a-915d-45853dc95b93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "708198e63c655426fe5c40d44c0f6d83c07cf72cc24cb1a74b0e2fbd9edc0394"
  },
  "id": "SdUbouhI4Jd4Luxq",
  "tags": []
}